.main {
    background-color: rgb(27, 10, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    }
.one {
    background-color: rgb(255, 230, 0);
    padding: 10px;
    margin: 10px;
}

.two {
    background-color: rgb(255, 128, 0);
    padding: 10px;
    margin: 10px;
}

#heading{
    background-color: rgb(0, 255, 238);
}
#lorem{
    background-color: rgb(255, 0, 208);
}
#lorem2{
    background-color: rgb(0, 255, 0);
}
.span{
    background-color: rgb(255, 0, 0);
}